@use "../../styles/main.scss" as *;

#bycountry {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
  padding: 10rem 0rem;
  overflow: hidden;
  position: relative;
}

.bycountry_img{
    position: absolute;
    z-index: -30;
    margin-top: 10rem;
    width: 100%;
    height: 100%;
}

.bycountry_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    overflow: hidden;
    filter: blur(5px);
    mask-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0.1), 
        rgba(0,0,0,1) 20%, 
        rgba(0,0,0,1) 10%, 
        rgba(0,0,0,0) 80%);
}

.bycountry_title h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 350;
    text-align: center;
    opacity: 0.8;
}

.bycountry_filter_bloc{
  position: relative;
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2.5rem;
}

.bycountry_filter_btn{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 90%;

    button{
        color: $color-text;
        background-color: #111;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 20px;
        font-size: 14px;
        font-weight: bolder;
        opacity: 0.8;

        &:hover{
            color: #111;
            background-color: $color-text;
            transform: translateY(-3px);
        }
    }
}

.pagination button {
    background: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: $desktop) {
    .bycountry_filter_btn{
        gap: 1rem;
        width: 60%;
    }
}

@media (max-width: $laptop) {
    #bycountry {
    .bycountry_title h2 {
        font-size: 32px;
    }

    .bycountry_filter_btn{
        width: 80%;

        button{
            font-size: 13px;
        }
    }

        .pagination button {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: $tablet) {
    #bycountry {
    .bycountry_title h2 {
        font-size: 30px;
    }

    .bycountry_filter_bloc{
        position: relative;
        width: 80%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        gap: 2.5rem;
    }
    
    .bycountry_filter_btn{
        gap: 1rem;
        button{
            font-size: 12px;
        }
    }

        .pagination button, span {
            font-size: 1rem;
        }
    }
}

@media (max-width: $mobile) {
    #bycountry {
    .bycountry_title h2 {
        font-size: 24px;
        width: 90%;
        margin-top: -1rem;
    }

    .bycountry_filter_bloc{
      width: 70%;
      gap: 1.5rem;
    }
    
    .bycountry_filter_btn{
        gap: 0.5rem;
        justify-content: center;
        width: 80%;
        button{
            font-size: 11px;
        }
    }

        .pagination button, span {
            font-size: 0.8rem;
        }
    }
}

