@use "../../styles/main.scss" as *;

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.hero_video{
    position: absolute;
}

.hero_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 2550px;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(5px);
    mask-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0), 
        rgba(0,0,0,1) 1%, 
        rgba(0,0,0,1) 20%, 
        rgba(0,0,0,0)
    );
}

.hero_text {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 0 1rem; 
    width: 100%;     
    overflow: hidden;   

    h1 {
        color: $color-text;
        font-size: 56px;
        width: 100%;
        font-weight: 600;
        opacity: 0.7;
    }
}

.hero_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button{
        padding: 1rem;
        border-radius: 20px;
        font-size: 16px;
        font-weight: bolder;
        opacity: 0.7;
        background-color: transparent;
        cursor: pointer;
    }

    button, a{
        background-color: transparent;
        color: $color-text;
        text-decoration: none;

        
        &:hover {
          color: $color-text;
          transform: translateY(-3px);
        }
    }
}

@media (max-width: $laptop) {
.hero_text { 
    h1 {
        font-size: 45px;
    }
}

.hero_video video {
    mask-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0), 
        rgba(0,0,0,1) 1%, 
        rgba(0,0,0,1) 40%, 
        rgba(0,0,0,0)
    );
}

.hero_buttons{
        button{
            font-size: 13px;
        }
    }
}

@media (max-width: $tablet) {
.hero_text { 
    h1 {
        font-size: 35px;
    }
}

.hero_buttons{
    flex-direction: column;
    gap: 1rem;
        button{
            font-size: 12px;
        }
    }
}

@media (max-width: $mobile) {
.hero_text { 
    margin-top: -5rem;
    h1 {
        font-size: 28px;
    }
}

.hero_video video {
    mask-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0), 
        rgba(0,0,0,1) 1%, 
        rgba(0,0,0,1) 50%, 
        rgba(0,0,0,0)
    );
}

.hero_buttons{
        button{
            font-size: 11px;
        }
    }
}