@use "../../styles/main.scss" as *;

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.hero_video{
    position: absolute;
}

.hero_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(5px);
}

.hero_text {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 0 1rem; 
    width: 100%;     
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;   
    background: linear-gradient(
    to bottom,
        rgba(0, 0, 0, 0) 0%,  
        rgba(0, 0, 0, 0.8) 15%, 
        rgba(0, 0, 0, 0.8) 85%, 
        rgba(0, 0, 0, 0) 100%
    );

    h1 {
        color: $color-text;
        font-size: 56px;
        width: 100%;
        padding: 1rem 1rem;
        font-weight: 400;
        opacity: 0.7;
    }
}