@use "../../styles/main.scss" as *;

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.hero_video{
    position: absolute;
}

.hero_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(5px);
}

.hero_text {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 0 1rem; 
    width: 100%;     
    overflow: hidden;   

    h1 {
        color: $color-text;
        font-size: 56px;
        width: 100%;
        font-weight: 600;
        opacity: 0.7;
    }
}

.hero_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;

    button{
        padding: 1rem;
        border-radius: 20px;
        font-size: 14px;
        font-weight: bolder;
        opacity: 0.7;
        background-color: transparent;
    }

    button, a{
        background-color: transparent;
        color: $color-text;
        text-decoration: none;

        
        &:hover {
          color: $color-text;
          transform: translateY(-3px);
        }
    }
}