@import "leaflet/dist/leaflet.css";

$color-text: #F5F5F5;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;

body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;   
    font-family: 'Open Sans', sans-serif;
}