@use "../../styles/main.scss" as *;

.header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    width: 100%;
    padding: 1rem 0rem;
    opacity: 0.9;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.9) 80%,
        rgba(0, 0, 0, 0) 100%,
    );

    .header_links_left{
        display: flex;
        gap: 5rem;
        padding: 0;
        a{
            text-decoration: none;
            color: $color-text;
            cursor: pointer;
            transition: color 0.3s ease;
            position: relative;
            font-size: 18px;

            &:hover{
                color: grey;
            }
        }
    }
    
    .header_links_right{
        display: flex;
        gap: 5rem;
        margin-left: 0;
        a{
            text-decoration: none;
            color: $color-text;
            cursor: pointer;
            transition: color 0.3s ease;
            position: relative;
            font-size: 18px;

            &:hover{
                color: grey;
            }
        }
    }

    .header_menu_mobile{
        display: none;
    }

        &_burger {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background: $color-text;
            transition: all 0.3s ease;
        }
    }

    img{
        opacity: 0.8;
        height: 100px;
        width: auto;
        object-fit: cover;
    }
} 

@media (max-width: $laptop) {
    .header{
        .header_links_left{
            gap: 3rem;

            a{
                font-size: 16px;
            }
        }
        
        .header_links_right{
            gap: 3rem;

            a{
                font-size: 16px;
            }
        }

        img{
            height: 100px;
        }
    } 
}

@media (max-width: $tablet) {
    .header {
        .header_links_left,
        .header_links_right {
            display: none;
        }

        .header_menu_mobile {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0,0.95);
            z-index: 200;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                a {
                    font-size: 15px;
                    color: $color-text;
                    text-decoration: none;
                }
            }
        }

        &.open .header_menu_mobile {
            display: flex;
        }

        &_burger {
            display: flex;
            flex-direction: column;
            gap: 6px;
            position: absolute;
            right: 2rem;
            top: 1.8rem;
            z-index: 300;
            cursor: pointer;

            span {
                width: 30px;
                height: 3px;
                background: $color-text;
                transition: all 0.3s ease;
            }
        }

        &.open {
            .header_burger span {
                z-index: 500;
            }

            .header_burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
            }

            .header_burger span:nth-child(2) {
                opacity: 0;
            }

            .header_burger span:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }

        .header_logo {
            z-index: 1000;

            img {
                height: 100px;
            }
        }
    }
}

@media (max-width: $mobile) {
    .header {
        .header_menu_mobile {
            li {
                a {
                    font-size: 14px;
                }
            }
        }

        &_burger {
            span {
                width: 25px;
                height: 3px;
                background: $color-text;
                transition: all 0.3s ease;
            }
        }

        .header_logo {
            img {
                height: 70px;
            }
        }
    }
}
