@use "../../styles/main.scss" as *;

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text;
    padding: 2rem;
    font-size: 15px;

        &::before {
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-bottom: 1.5rem;
    }
}
