@use "../../styles/main.scss" as *;

#map {
  position: relative;
  overflow: hidden;
  padding: 8rem;
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map_img img {
  width: 130%;
  height: 130%;
  object-fit: cover;
  opacity: 0.9;
  filter: blur(5px);
}

.map_title h2 {
  font-size: 40px;
  margin-bottom: 3rem;
  font-weight: 350;
  opacity: 0.8;
}

.europe_map {
  width: 100%;
  height: 500px;
  max-width: 1000px;
  border-radius: 12px;
  overflow: hidden; 
  z-index: 0;
}

.map_text{
  padding: 2rem;
  width: 60%;
  text-align: center;
  margin-bottom: -5rem;
}

