@use "../../styles/main.scss" as *;

#map {
  position: relative;
  overflow: hidden;
  padding: 8rem;
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map_title h2 {
  font-size: 40px;
  margin-bottom: 3rem;
  font-weight: 350;
  opacity: 0.8;
}

.europe_map {
  width: 100%;
  height: 500px;
  max-width: 1000px;
  border-radius: 12px;
  overflow: hidden; 
  z-index: 0;
}

.map_text{
  padding: 2rem;
  width: 60%;
  text-align: center;
  margin-bottom: -5rem;
  font-size: 16px;
}

@media (max-width: $desktop) {
  .map_text{
    width: 85%;
  }
}

@media (max-width: $laptop) {
  .map_title h2 {
    font-size: 32px;
  }

  .map_text{
    width: 100%;
    font-size: 15px;
  }
}

@media (max-width: $tablet) {
    #map {
    padding: 8rem 2rem;
  }

  .map_title h2 {
    font-size: 30px;
  }

  .europe_map {
    width: 80%;
  }

  .map_text{
    width: 80%;
    text-align: justify;
    font-size: 14px;
  }
}

@media (max-width: $mobile) {
  .map_title h2 {
    font-size: 24px;
  }

  .europe_map {
    width: 90%;
    height: 400px;
  }

  .map_text{
    width: 90%;
    text-align: justify;
    font-size: 12px;
  }
}