@use "../../styles/main.scss" as *;

#upcomingfestivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
  padding: 8rem;
}

.upcomingfestivals_title h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 350;
}

.carousel_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.carousel_btn {
  background: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.carousel_btn.left {
  margin-right: 0.5rem;
}

.carousel_btn.right {
  margin-left: 0.5rem;
}

.upcomingfestivals_carousselle {
  overflow: hidden;
  flex: 1;
}

.carousel_inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1rem;
}

.upcomingfestivals_text{
    width: 92%;
    text-align: justify;
}


