@use "../../styles/main.scss" as *;

#upcomingfestivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
  padding: 8rem;
}

.upcomingfestivals_title h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 350;
}

/* Carrousel */
.carousel_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.carousel_btn {
  background: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.carousel_btn.left {
  margin-right: 0.5rem;
}

.carousel_btn.right {
  margin-left: 0.5rem;
}

.upcomingfestivals_carousselle {
  overflow: hidden;
  flex: 1;
}

.carousel_inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1rem;
}

.festival_card {
  flex: 0 0 560px;
  background: #111;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.festival_card:hover {
  transform: scale(1.05);
}

.festival_card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.festival_card h3 {
  margin: 0.5rem;
  font-size: 1.1rem;
}

.festival_card p {
  margin: 0 0.5rem 0.5rem;
  font-size: 0.9rem;
  color: #ccc;
}

.upcomingfestivals_text{
    width: 80%;
    text-align: center;
}

/* Modale */
.modal_overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  font-size: 15px;
}

.modal_content {
  position: relative;
  background: #0a0a0a;
  color: white;
  max-width: 600px;
  width: 90%;
  padding: 2rem;
  border-radius: 12px;
  animation: fadeIn 0.3s ease;
  overflow-y: auto;
  max-height: 80vh; 

  h2{
    text-align: center;
  }
}

.modal_desc{
    padding-bottom: 2rem;
}

.modal_content img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin: 1rem auto;
  display: block;
  padding-bottom: 1rem;
}

.modal_close {
  position: absolute;
  top: 1rem; 
  right: 1rem;  
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}

.modal_link a{
    color: $color-text;
    padding-left: 0.5rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
